@use "variable";
@use "sass:math";

$default-textarea-height: 42px;

$font-size: .9rem;
// $font-size: 1rem;

.chatbox{
    min-width: 100%;
    height: 100%;
    // padding: variable.$padding;
    display: grid;
    grid-template-areas: 
        "chatbot-header" 
        "chatbot-message-container" 
        "chatbot-actionbar"
        "chatbot-menubar";
    grid-template-rows: auto 1fr auto;
    z-index: 1;
    position:fixed;
    top: 0;
    left: 0;
    
    
    >*{
        padding: variable.$padding;
        font-size: $font-size;
    }

    .chatbox-nav{
        display:grid;
        gap: variable.$gap-horizontal;
        grid-area: chatbot-header;
        align-items: center;
        background-color: variable.$bg-whiter;
        // box-shadow:  0 0 3px #40404090;  
        z-index: 1;
        grid-template-areas: "title actions";
        grid-template-columns: 1fr auto;

        .chatbox-nav-status,
        .chatbox-nav-header-label{
            display: none;
        }
        .chatbox-nav-title{
            font-weight: 500;
            flex-grow: 1;
            grid-area: title;
        }
        
        .chatbox-nav-actions{
            grid-area: actions;
            display: flex;
            gap: variable.$gap-horizontal;
            
            *:first-child{
                margin-left: auto;
            }

            *{
                margin: 0;
            }

        }
    }

    .chatbox-message-container{
        display: flex;
        flex-direction: column;
        grid-area: chatbot-message-container;
        // gap: variable.$padding-top * 2;
        background-color: variable.$bg-whitest;
        overflow-y: auto;
        box-sizing: border-box;
        overflow-x: hidden;
        

        $size: 12px;
        
        .chatbox-message-chatbot{
            padding: variable.$padding;
            background-color: variable.$bg-white;
            border-radius: variable.$border-radius;
            word-wrap: break-word;
            max-width: 90%;
            margin-left: right;
            position: relative;
            font-weight: 500;
            margin-bottom: variable.$padding-top * 2;
        }

        .chatbot-message-user-icon,
        .chatbot-message-chatbot-icon{
            display: flex;
            font-size: .7rem;
            font-weight: 700;
            // padding: 0 variable.$padding-left;
            margin-bottom: math.div(variable.$margin-top,2);
            align-items: flex-end;
            gap: variable.$gap-horizontal;
        }
        
        .chatbot-message-user-icon{
            justify-content: right;
        }
        
        .chatbot-message-chatbot-icon{
            justify-content: left;
        }


        .chatbox-message-user{
            padding: variable.$padding;
            background-color: variable.$bg-primary;
            border-radius: variable.$border-radius;
            word-wrap: break-word;
            max-width: 90%;
            margin-left: auto;
            color: rgba(255, 255, 255, 0.753);
            font-weight: 500;
            position: relative;
            margin-bottom: variable.$padding-top * 2;
        }

        
        >*:first-child{
            margin-top: auto;
        }

        >*:last-child{
            margin-bottom: variable.$margin-top;
        }
    }

    .chatbox-actionbar{
        display: flex;
        gap: variable.$padding-left;
        grid-area: chatbot-actionbar;
        background-color: variable.$bg-whiter;
        position: relative;
        bottom: 0;
        width: 100%;
        gap: 0;
        // background-color: indigo;
        // background-color: orange;
        // background-color: #e4e4e7;
        align-items: center !important;
        // background-color: transparent;
        // border-top: variable.$border;
        // background-color: indianred;

        textarea{
            padding: variable.$padding-top variable.$padding-left;
            @include variable.draw-border;
            background-color: variable.$bg-white;
            background-color: inherit;
            // background-color: green;
            border: none;
            width: 100%;
            max-width: 100%;
            order: 1;
            flex-grow: 1;
            border-radius: variable.$border-radius 0 0 variable.$border-radius !important;
            outline: none !important;
            resize: none !important;
            // background-color:orange;
            overflow-y:hidden; /* Hide vertical scrollbar */
            height: $default-textarea-height;
            font-size: $font-size;
            // border-bottom: variable.$border;
            background-color: variable.$bg-gray;
        }

        input[type="text"]{
            &.chatbox-action-text-input{
                padding: variable.$padding;
                @include variable.draw-border;
                background-color: variable.$bg-whitest;
                // background-color: green;
                border: none;
                width: 100%;
                max-width: 100%;
                order: 1;
                flex-grow: 1;
                border-radius: variable.$border-radius 0 0 variable.$border-radius !important;

            }

            font-size: $font-size;
            outline: none !important;
        }

        .chatbox-action-send{
            // display: none;
            flex-grow: 1;
            border: none;
            // padding: p;
            // padding: variable.$padding-top variable.$padding-left;
            // padding: variable.$padding-left;
            // padding: 0;
            height: 100%;
            order: 2;
            border-radius:  0 variable.$border-radius variable.$border-radius 0;
            background-color: variable.$bg-primary;
            // width: fit-content;
            min-width: 3rem;
            align-self: flex-end;
            height: $default-textarea-height !important;
            // background-color: goldenrod;
            // font-size: .9rem;
            display: flex;
            justify-content: flex;
            align-items: center;
            padding: 0;

            *{
                // background-color: indianred;
                color: rgba(variable.$bg-whitest,.77);
                
            }

            &:active{

                >*{
                    // transform: scale(.8);
                }
            }

            font-weight: 500;

            color: rgba(237, 237, 237, 0.95) !important;

        }
    }

    .chatbox-menubar{
        grid-area: chatbot-menubar;
        display: none;
    }
}


@media screen and (min-width: 768px) {

    $chatbot-container-radius: 5px;    
    // $chatbot-border-color: rgb(58, 63, 75);
    $chatbot-border-color: white;
    $chatbot-width: 575px;
    $chatbox-border-width: 7px;
    

    .chatbox{
        position: relative;
        min-width: $chatbot-width;
        // max-width:  $chatbot-width !important;
        box-sizing: content-box;
        height: 80vh;
        // height: 100%;
        // padding: $chatbox-border-width;
        // border-radius: $chatbot-container-radius;
        background-color: $chatbot-border-color;
        box-shadow: 0px 2px 7px rgba(215, 215, 215, 0.6);
        z-index: auto;

        .chatbox-nav{
            display: -ms-inline-grid;
            display: -ms-inline-grid;
            display: inline-grid;
            grid-template-areas: "header-label status" "title actions";
            grid-template-columns: 1fr 1fr;
            row-gap: variable.$gap-vertical;
            // border-radius:  $chatbot-container-radius  $chatbot-container-radius 0 0;
            position: relative;
            padding-top: 24px;
            // background-color: green;
                
            .chatbox-nav-header-label{
                grid-area: header-label;
                display: flex;
                font-size: small;
                position: absolute;
                top: 0;
                font-weight: 600;
                // padding-left: variable.$padding-left;
            }

            .chatbox-nav-status{
                position:relative;
                top: 0;
                font-weight: 600;
                grid-area: status;
                display: block;
                // background-color: indianred;
                text-align: right;
                font-size: small;
                right: 0;
                // padding-right:variable.$padding-left;
                
            }

            .chatbox-nav-title{
                // padding-left: variable.$padding-left;
            }


            .chatbox-nav-actions{
                // background-color: gold;
            }
        }
        
        .chatbox-nav-toggler{
            display: none;
        }

        .chatbox-message-container{
            width: $chatbot-width;
        }
        // invalidate the position bottom
        .chatbox-actionbar{
            width: inherit;
            position: relative;
            bottom: auto;
            padding-bottom: variable.$padding-top * 2;
            border-radius: 0 0 $chatbot-container-radius $chatbot-container-radius;
            height: fit-content;
           
            // input[type="text"]{
            //     &.chatbox-action-text-input{
            //         padding: variable.$padding;
            //         @include variable.draw-border;
            //         background-color: variable.$bg-whitest;
            //         width: 100% !important;
            //         order: 1;
            //         flex-shrink: 1;
            //         border: none;
            //     }

            // }


            .chatbox-action-send{
                padding: variable.$padding-left !important;
                display: block;
            }

        }
        
    }


}